/* RESET CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
styles de after question

*/

*{
	box-sizing: border-box;
}
body{

font-family: 'Roboto', sans-serif;

}

header ul li {
	list-style: none;
}

/* For mobile phones: */

@media only screen and (min-width: 768px) {
    width: 100%;
}
/*Nav bar*/
nav ul li{
	display: flex;
	justify-content: center;
}


/*Carrusel*/
.carrousel{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.gradiente_amarillo{
	width: 661px;
	background: #f3a908; /* Old browsers */
	z-index: 5;
	background: -moz-linear-gradient(left, #f3a908 0%, #ffdd00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f3a908 0%,#ffdd00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f3a908 0%,#ffdd00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a908', endColorstr='#ffdd00',GradientType=1 ); /* IE6-9 */
}

.phone_home{
	position: absolute;
	z-index: 7;
	top: 167px;
    left: 160px;

}

.espuma_home{
	position: relative;
	z-index: 6;
	right: 208px;
}

.foto_home{
	position: absolute;
    z-index: 4;
    right: -21px;
}

/*General styles*/
h2{
	font-family: 'Passion One';
	font-size: 80px;
}

/*Seccion reglas*/

.reglas{
	background-color: #FDEEC2;
	display: flex;
	align-items: flex-center;
}


/*Seccion Descargalo*/
.descargalo{
	background: #f3a908; /* Old browsers */
	background: -moz-linear-gradient(left, #f3a908 0%, #ffdd00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f3a908 0%,#ffdd00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f3a908 0%,#ffdd00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a908', endColorstr='#ffdd00',GradientType=1 ); /* IE6-9 */
}

/*Footer*/
footer{
	background-color: #000000;
}

footer ul li {
	font-color: white;
}